<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action='/results'>
            <input type='text' name='player_one'>
            <label for='player_one'></label>

            <input type='text' name='player_two'>
            <label for='player_two'></label>

            <button type='submit'>Submit</button>

        </form>

    </body>
</html>
