<html>
    <head>
        <title></title>
    </head><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <body>
        <h2>Please enter your choice(rock, paper or scissors)</h2>
        <form action='/results'>
            <input type='password' name='player_one'>
            <label for='player_one'>player one</label>
            <br>
            <input type='password' name='player_two'>
            <label for='player_two'>player two</label>
            <br>
            <button type='submit'>Submit</button>

        </form>

    </body>
</html>
